.submit_background {
  height: 100vh;
  background-color: black;
  z-index: -1;
}
.backgound_img{
    object-fit:cover;
    position: absolute;
    height: 100vh;
    min-width: 100vw;
    z-index: 0;
}
.submit_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    color: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    gap:70px;
    max-width: 1500px;
}
.submit_title_container{
    text-align: center;
    margin-bottom: 20px;
}
.submit_title{
    text-transform: uppercase;
    font-size: 2.7rem;
    margin-bottom: -0.1em;
}
.submit_paragraph{
    font-size: 1rem; 
}

.submit_input{
    padding:1rem;
    border-radius: 5px;
    border: none;
}
.submit_input_email_button_container{
    display: flex;
    gap:10px;
    width: 100%;
}
.submit_input{
    flex:1;
}
.submit_button_email{
    flex:0.6;
}
.submit_button_code{
    margin-top: 1em;
}
.label_input{
    margin-bottom: em;
}
.submit_input_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 1em;
}

.submit_button_code{
    flex: 1;
    padding: 1rem;
}
.label_input{
    font-weight: bold;
}
.input_group{
    width: 100%;
    display: flex;
    gap: 0.4em;
    flex-direction: column;
}