
.stamped{
    margin: 0;
}
.unstamped{
    margin: 0;
}
.stamped, .unstamped{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stamped{
    background: linear-gradient(0.25turn, #3BCB3D, #30AFC0);
}
.unstamped{
    background-color: white;
    filter: brightness(0.5);
}
.stamp_image{
    width: 55px;
}
.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    height: 114px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}
